$dark-blue: #253045;
$accent: #ff6b08;
$blue: #3E4E6A;

.swiper {
  container-type: inline-size;
  display: flex;
  flex-direction: column;
}

.swiper-wrapper {
  order: 2;
  height: 57cqi;
}

.swiper-pagination {
  order: 1;
  position: static;
  text-align: start;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  background-color: rgb(37 48 69);
  box-sizing: border-box;
  padding: 12px 20px;
}

.swiper-pagination-bullet {
  background-color: #748fc1;
}

.swiper-pagination-bullet-active {
  background-color: #ff6b08;
}

.swiper-slide {
  cursor: grab
}

.link {
  position: absolute;
  width: 24px;
  right: 24px;
  bottom: 24px;
  padding: 10px;
  border: 1px solid $accent;
  background-color: $accent;

  &:hover {
    background-color: transparent;
    border: 1px solid #fff;
  }
}